/* Personal Style By Leo */

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.s-box-header{
    display: none;
}

#div_bidding_list{
    position: absolute;
    right: 0;
    left: 0;
    height: 500px !important;
}



#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #044186;
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: #044186;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(249,113,16) !important;
}

#div_bidding_list > div{
    overflow: auto;
}

#ul_bid > .respuesta-blue{
    background: #4f76a0 !important;
    padding: 10px 8px !important;
    display: flex  !important;
    justify-content: space-between;
}

#ul_bid > .respuesta-blue > img{
    background: #fff;
    width: 140px;
    padding: 5px;
    border-radius: 50px;
}

#ul_bid > .respuesta-blue > span.color-default.fz-16{
    
    margin: auto;
    color: #fff !important;
    font-weight: 600;

}

#ul_bid > .propone-blue{
    background: #4f76a0 !important;
    padding: 10px 8px !important;
    display: flex  !important;
    justify-content: space-between;
}

#ul_bid > .propone-blue > img{
    background: #fff;
    width: 140px;
    padding: 5px;
    border-radius: 50px;
}

#ul_bid > .propone-blue > span.color-default.fz-16{
    
    margin: auto;
    color: #fff !important;
    font-weight: 600;

}

#ul_bid > .propone-orange{
        background: rgb(249,113,16) !important;
        background: linear-gradient(260deg, rgba(249,113,16,1) 80%, #fb4a0b 100%) !important;
        padding: 10px 8px !important;
        display: flex  !important;
        justify-content: space-between;
}

#ul_bid > .propone-orange > img{
    background: #fff;
    width: 140px;
    padding: 5px;
    border-radius: 50px;
}

#ul_bid > .propone-orange > span.color-default.fz-16{
    margin: auto;
    color: #fff !important;
    font-weight: 600;
}

#ul_bid > .respuesta-orange{
    background: rgb(249,113,16) !important;
    background: linear-gradient(260deg, rgba(249,113,16,1) 80%, #fb4a0b 100%) !important;
    padding: 10px 8px !important;
    display: flex  !important;
    justify-content: space-between;
}

#ul_bid > .respuesta-orange > img{
background: #fff;
width: 140px;
padding: 5px;
border-radius: 50px;
}

#ul_bid > .respuesta-orange > span.color-default.fz-16{
margin: auto;
color: #fff !important;
font-weight: 600;
}














#divImgContador{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(5) > div:nth-child(2){
    padding: 50px;
}

#divListBids > table > thead{
    background: #e0e0e0;
}

#divListBids > table > thead > tr > th{
    padding: 10px 20px;
    color: #5c5c5c;
    font-weight: 600;
}

#divListBids > table > tbody > tr > td{
    padding: 10px 20px;
    color: #5c5c5c;
    font-weight: 800;

}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > ul{
    padding-right: 0px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat{
    display: flex;
    flex-wrap: wrap;
}

#ya-puedes-enviar{
    background: #4f76a0 !important;
    padding: 10px 8px !important;
}

#ya-puedes-enviar > img{
    background: #fff;
    width: 140px;
    padding: 5px;
    border-radius: 50px;
}

#ya-puedes-enviar > strong{
    color: #fff !important;
    font-size: 10px;
}

#div_wait > center > img:nth-child(5){
    display: none;
}

#div_wait > center > label:nth-child(1){
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 10px;
}

#div_wait > center > label:nth-child(3){
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#div_wait > center > label:nth-child(2){
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 10px;
    text-transform: lowercase;
}


#count-bid{
    background: none;
    color: #043c78 !important;
    font-size: 28px !important;
    font-weight: 900;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div > center > label > p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 900;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div > center > label > br:nth-child(3){
    display: none;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div > center > label > strong:nth-child(2){
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div > center > label > strong:nth-child(5){
    margin-top: 20px;
    display: block;
    font-size: 40px;
}

#spn_initial_price{
    color: #fff !important;
    border: 2px solid #3c3e40 !important;
    border-radius: 7px;
    padding: 10px 20px !important;
    font-size: 30px !important;
    margin-left: 20px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div > center > img{
    width: 120px;
    margin-bottom: 20px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div{
    justify-content: center;
    display: flex;
    align-items: center;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > ul{
    margin-top: 0px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > div > span:nth-child(1){
    margin-bottom: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > div{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #5c5c5c;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > ul > li{
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    background: #2b2d2f;
    border-radius: 0px !important;
    padding: 44px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div > div.popular-cat > ul > li > span:nth-child(1){
    color: #fff;
    font-size: 23px;
    font-weight: 300;
}

#spn_last_bid{
    font-weight: 900;
    border: 2px solid #fc6934 !important;
    font-size: 30px !important;
    margin-left: 15px;
}

#spn_last_bid > span{
    font-weight: 900 !important;
    font-size: 30px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7) > div{
    padding: 0 !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div > div > div.col-lg-8.col-md-12 > div:nth-child(1){
    padding-top: 30px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(7){
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down > a > div{
    color: #fff !important;
    text-transform: initial;
    font-weight: 600;
    font-size: 13px !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down > a > div{
    color: #fff !important;
    text-transform: initial;
    font-weight: 600;
    font-size: 13px !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > label{
    display: block;
    font-weight: 600;
    color: #343a40;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > label{
    display: block;
    font-weight: 600;
    color: #343a40;
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > div > ul > label > img{
    width: 30px !important;
    height: 30px !important;
    margin-right: 7px;
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > div > ul > label{
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 4px 8px 0px rgb(112 112 112);
    -moz-box-shadow: 0px 4px 8px 0px rgba(112,112,112,1);
    box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    margin-bottom: 15px;
}

.custom-radio-checkbox__show--radio {
    background-image: url("https://subastas.xweb.live/images/uncheck.png");
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > div > ul > label > input {
    display: none;
}

.custom-radio-checkbox__show {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    vertical-align: middle;
}

.custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
    background-image: url("https://subastas.xweb.live/images/check.png");
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > hr{
    margin-top: 8px !important;
    border-top: 1px solid rgba(31, 31, 31, 0.7) !important;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35  > div > ul{
    margin-top: 0px !important;
}

#offer{
    border-radius: 50px;
    background: rgb(249,113,16) !important;
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%) !important;
    color: #fff !important;
    border: none !important;
    padding: 20px 30px;
    text-transform: capitalize;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 15px !important;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(112,112,112,1);
   -moz-box-shadow: 0px 4px 5px 0px rgba(112,112,112,1);
    box-shadow: 0px 4px 5px 0px rgba(112,112,112,1);
}

#bidForm > div.row > div.col-md-12.col-lg-8.order-lg-0{
    margin: auto;
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > label > img{
    width: 26px;
    margin-left: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(8) > div > div{
    border: none !important;
    padding: 0px !important;
}

#bidForm > div.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0{
    background: #f2f2f2;
}

#bidForm > div.row > div.col-md-12.col-lg-4.order-lg-0 > label{
    margin-bottom: 0px !important;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #686161;
    font-weight: 600;
    letter-spacing: 1px;
}

#offer:hover{
    background: rgb(249,113,16) !important;
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%) !important;
    color: #fff !important;
}

#spn_last_bid{
    border-radius: 7px;
    color: #fff !important;
    padding: 15px 15px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35  > div > ul > li > span:nth-child(1){
    font-size: 21px;
    color: #fff;
    font-weight: 200;
    margin-right: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(5){
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#app > div.p-b-100.p-t-80 > div > div > div:nth-child(3){
    padding-left: 0 !important;
    padding-right: 0 !important;
}


#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6){
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(8){
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(8) > div{
    margin-top: 0px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-12.mb-4{
    display: none;
}

#app > div.p-b-100.p-t-80{
    padding-top: 0px !important;
}

#cost{
    font-size: 25px;
    font-weight: 600;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35  > div{
    background: #FB4A0B;
    padding: 15px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35  > div > ul > li{
    background: #FB4A0B;
    border: 1px solid #fb4b0b80;
    padding: 0 !important;
    justify-content: center !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(3) > div{
    font-size: 40px !important;
    color: #043C78 !important;
    text-transform: uppercase;
    FONT-WEIGHT: 600;
    padding: 20px;
}


#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6) > div:nth-child(2) > div{
    background: #044186;
    border: none !important;
    border-radius: 0px !important;
}

#ul_bid > li{
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 30px;
}

#ul_bid > li > span.fz-12{
    color: #6c757d!important;
}

#ul_bid > li > span.usuario-batalla{
    text-transform: uppercase;
    color: #6c757d!important;
}


#ul_bid > li > span.fz-12{
    color: #6c757d!important;
}

#ul_bid > li > span.gris-color{
    color: #6c757d!important;
}

#ul_bid > li > span.color-default.fz-16{
    font-weight: 900;
    color: #343a40 !important;
}

#ul_bid > li > span.gris-color{
    color: #6c757d!important;
}

#ul_bid > li > span.color-default.fz-16{
    font-weight: 900;
    color: #343a40 !important;
}







#app > div.p-b-100.p-t-80 > div > div > div:nth-child(6){
    background: #044186;
}

#nav-tab > a.nav-item.text-muted.nav-link.active{
    color: #0958A1 !important;
    background-color: #fff !important;
    border-bottom-color: #0958A1 !important;
    font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: none !important;
}

.nav-tabs .nav-link{
    border: 3px solid transparent !important;
}

#app > div > div > div > div.col-lg-12 > div{
    border: none !important;
}

#app > div > div > div > div.col-lg-12 > div > div.card-header{
    border-bottom: none !important;
    background-color: #fff !important;
}

body > div.main-nav > div > div > div.col-lg-5 > div > nav{
    width: 200px;
}

body > div.main-nav > div > div > div.col-lg-5 > div{
    display: flex;
    justify-content: center;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.d-inline-block > div > p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #5C5C5C !important;
}

#profileTab{
    border-bottom: none !important;
}

#profileTab > li{
    margin: 10px;
}

#app > div > div > div.row > div.col-md-3 > div.d-block.mt-3{
    margin-bottom: 17px;
}

#app > div > div > div.row > div.col-md-9 > div{
    background: none;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.d-inline-block > div{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
    margin-top: 5px !important;
    padding-top: 15px !important;
    text-align: center;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.d-inline-block > div > p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #5C5C5C !important;
}

#DataTables_Table_0 > tbody > tr > td.text-right.font-weight-bold.color-default{
    color: #20A90B !important;
}

body > div.main-sidenav.showbar > div.nav-card > div{
    background: none !important;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-xl-5 > div > a > h6{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase !important;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #043C78 !important;
    font-size: 22px;
}

#app > div > div > div > div:nth-child(1) > nav > ol{
    background: #1c1c1c;
    border-radius: 15px;
    margin-top: 30px;
}

#app > div > div > div > div:nth-child(1) > nav{
    display: inline-block !important;
}

.transaction-list .active{
    background: #FF6B00 !important;
    color: #fff !important;
    font-weight: bold;
    border: 1px solid #FB4A0B !important;
    -webkit-box-shadow: 0px 10px 8px -1px rgba(0,0,0,0.34) !important;
    -moz-box-shadow: 0px 10px 8px -1px rgba(0,0,0,0.34) !important;
    box-shadow: 0px 10px 8px -1px rgba(0,0,0,0.34) !important;
    border-radius: 25px;
    margin-bottom: 25px !important;
    
}

#app > div > div > div.row > div.col-md-9 > div > div.card.card-outline.border-top-0.card-info > div{
    background: #f2f2f2;
    border: none !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#app > div > div > div.row > div.col-md-9 > div > div.card.card-outline.border-top-0.card-info > div > form > div > label{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase !important;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #333 !important;
    font-size: 16px;
}

#addressInfo > div.row > div > div > label{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase !important;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #044186 !important;
    font-size: 13px;
}

#app > div > div > div.row > div.col-md-9 > div > div.card.card-outline.border-top-0.card-info > div.card-body{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#app > div > div > div.row > div.col-md-9 > div > div.card.card-outline.border-top-0.pt-3.card-info{
    padding-top: 0 !important;
}

#app > div > div > div.row > div.col-md-3 > div.card.card-outline.card-info > div > img{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

#app > div > div > div.row > div.col-md-3 > div.card.card-outline.card-info > div > p{
    font-weight: 600;
    text-transform: uppercase;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-xl-3.align-self-center > div > a > img{
    border-radius: 10%;
}

#app > div > div > div.row > div:nth-child(1) > div > div > div > div.col-xl-4.align-self-center > img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#app > div > div > div.row > div.col-md-9 > div > div.card.card-outline.border-top-0.card-info{
    border: none !important;
}

#app > div > div > div > div:nth-child(4) > div > div > div > div > a{
    border-radius: 25px;
    margin-bottom: 25px !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2){
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#profileTab > li > a{
    color: #6c757d;
    padding: .4rem 1rem !important;
}

#profileTab > li > a:hover{
    border: none !important;
}

#profileTab > li > a{
    border: none !important;
}

#profileTab > li > a:focus{
    color: #0b64b7;
    font-weight: 600;
    border-bottom: 3px solid #0b64b7;
}

#app > div > div > div.row > div:nth-child(1) > div{
    border: none !important;
    border-top: none !important;
    background: #f2f2f2;
    border-radius: 25px;
}
#app > div > div > div.row > div > div.row{
    background: #fff !important;
}

#app > div > div > div.row > div > div:nth-child(3){
    background: #fff !important;
}

#app > div > div > div.row > div > div > div > div > div.col-xl-8.clearfix > h3{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase !important;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #043C78 !important;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-xl-5 > div > p.mt-3.text-muted{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #5C5C5C !important;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-lg-4.winner-parent > div > ul > li{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #5C5C5C !important;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-xl-3.align-self-center{
    padding: 20px;
}

#profileTabContent > div > div > div > div > div.card-body > div > div{
    border: none !important;
    background: #f3f3f3;
    border-radius: 15px;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-lg-4.winner-parent > div > ul > li{
    background: #f3f3f3f3;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg-7.order-lg-0 > div{
    background: #fff !important;
    border: none !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.d-inline-block > div{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
    margin-top: 5px !important;
    padding-top: 15px !important;
    text-align: center;
}

#profileTabContent > div > div > div > div > div.card-body > div > div > div > div.col-lg-4 > div > ul > li{
    background: #f2f2f2;
}

body > footer > div > div > div > div.footer-border > div > div > div:nth-child(2) > div.calidad{
    display: flex;
}

body > footer > div > div > div > div.footer-border > div > div > div:nth-child(2) > div.calidad > p{
    margin-bottom: auto;
    margin-top: auto;
    color: #fff;
    padding-left: 5px;
}

body > div.main-sidenav.showbar > div.nav-card > div > div{
    background: #181818;
    border-radius: 20px;
}

body > div.main-sidenav.showbar > div.nav-card > div > div > p{
    text-transform: uppercase;
    text-align: initial !important;
    color: #fff !important;
    font-weight: 300;
}

body > div.main-sidenav.showbar > div.nav-card > div > div > div > div{
    justify-content: flex-start !important;
}

body > div.main-sidenav.showbar > div.nav-card > div > div > div > div > p{
    color: #20A90B !important;
    font-weight: bold;
}

body > div.main-sidenav.showbar > div.nav-card > div{
    border: none !important;
    box-shadow: none !important;
}

body > div.main-sidenav.showbar > div.nav-card > div > div > div > div > h6{
    margin-left: 7px;
    color: #fff !important;
}

#app > div > div > div > div.col-lg-12 > form > div > div.card-body.p-5 > div:nth-child(5) > div > div{
    border-radius: 25px;
    background-color: #ddd;
}

.form-control{

    text-indent: 10px;
    background: #fff !important;
    font-size: 13px !important;
    padding: 12px !important;
    transition: 0.5s linear;
}

.form-control:focus{
    border-bottom: 1px solid #007bff !important;
    outline: none !important;
}


#app > div > div > div > div.col-lg-12 > form > div > div.card-body.p-5 > div > div > div > div{
    margin-bottom: 20px;
}

#app > div > div > div > div.col-lg-12 > form > div > div.card-body.p-5 > div > div > div{
    flex-direction: column !important;
    margin-top: 0px !important;
}

#fake_489{
    margin-top: 15px;
}

#confirmBidModal > div > div > div.modal-header.text-center{
    background: #fff;
    border: none;
}

#confirmBidModal > div > div > div.modal-footer.text-center{
    border: none;
}

#confirmBidModal > div > div > div.modal-header.text-center > img{
    margin-bottom: 20px;
}

#exampleModalLongTitle{
        color: #181818;
    font-weight: 600 !important;
    text-transform: uppercase;
}

#confirmBid{
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(249,113,16,1) 100%);
    border-radius: 25px;
    padding: 10px 50px;
    color: #fff;
    border: none !important;
}

#confirmBid:hover{
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(249,113,16,1) 100%);
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div > div{
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    margin-left: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div > div > div.col-lg-4.col-md-12 > div > h4{
    font-weight: 300 !important;
    margin: auto;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-12.mb-4 > nav{
    display: inline-block !important;
}

#app > div.p-b-100.p-t-80 > div > div > div > div > div > div{
    margin-right: 0;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div > div > div.col-lg-8.col-md-12 > div.property-overview.mt-1 > ul > li{
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase !important;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div{
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div > div > div > div.col-lg-4.col-md-12 > div > span{
    background: #FB4A0B !important;
}

#app > div.p-b-100.p-t-80 > div > div > div > div > div > div > div.col-lg-4.col-md-12 > div > div{
    display: inline-block;
    color: #20A90B !important;
    padding: 5px;
    margin-top: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div > div > div > div > div.col-lg-4.col-md-12{
    padding-left: 0;
    margin: auto;
}

#app > div > div > div > div.col-md-12.col-lg-5.order-lg-0 > div.s-box.mb-3{
    background: #F2f2f2 !important;
    margin-bottom: 0px !important;
    padding: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg-5.order-lg-0 > div.s-box.mb-3 > div.s-box-header > span{
    color: #044186;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg-5.order-lg-0 > div.s-box.mb-3 > div.s-box-header{
    color: #044186;
    font-weight: 300;
    text-transform: lowercase;
    padding-right: 10px;
    margin-top: auto;
}

#app > div.p-b-100.p-t-80 > div > div > div:nth-child(2) > div{
    margin-bottom: 0px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.d-inline-block{
    width: 100%;
    text-align: left;
    padding: 10px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-image-area.position-relative > figure > a > img{
    min-height: 220px;
    max-height: 220px;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    object-fit: none;
    object-position: center center;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li{
    display: flex !important;
    flex-direction: column-reverse;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(3) > span.main-text.d-block{
    color: #181818 !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(2) > span.main-text.d-block{
    color: #181818 !important;
}

body > div.p-b-100 > section > div > div.row > div{
    padding: 35px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down{
    background: rgb(27,200,255);
    background: linear-gradient(180deg, rgba(27,200,255,1) 0%, rgba(9,88,161,1) 100%);
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 4px 3px 0px rgb(143 143 143);
    padding: 15px 40px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down > div.color-999.d-inline-block.fz-12{
    color: #fff !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div{
    border-radius: 25px !important;
    border: none !important;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);

}

#app > div > div > div.row > div > div.row > div{
    padding: 35px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-image-area.position-relative > span.auction-badge > span{
    border-top-right-radius: 25px;
}

#app > section > div > div > div{
    padding-right: 0 !important;
    padding-left: 0!important;
}

body > div.p-b-100 > section > div > div.m-b-50.position-relative > div.d-block > div > div > a{
    color: #FF6B00 !important;
}

#carouselExampleIndicators > ol > li{
    background-color: #f2f2f2 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

#carouselExampleIndicators > ol > li.active{
    background-color: #FF6B00 !important;
}

.pagination .page-link {
    padding: 10px 25px !important;
    color: #FF6B00 !important;
    border: none !important;
    background: #1c1c1c !important;
}
.pagination .page-link:hover {
    background: rgb(249,113,16);
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%);
    color: #fff !important; }

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li{
    display: flex !important;
    flex-direction: column-reverse;
}

#app > div > div > div > div.col-md-12.col-lg-7.order-lg-0 > div > div > div.dispute-link.position-absolute{
    background: #043C78 !important;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(2) > span.main-text.d-block{
    color: #181818;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(3) > span.main-text.d-block{
    color: #181818;
}


#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.d-inline-block > a{
    margin-bottom: 9px !important;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down > div.color-999.d-inline-block.fz-12{
    color: #fff !important;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down{
    background: rgb(27,200,255);
    background: linear-gradient(180deg, rgba(27,200,255,1) 0%, rgba(9,88,161,1) 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 17px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.d-inline-block{
    width: 100%;
    text-align: left;
    padding: 10px;
}

body > footer > div > div:nth-child(1){
    background: #1c1c1c;
}

#profileTabContent > div > div > div > div > div.card-footer{
    background: #1c1c1c !important;
}

#profileTabContent > div > div > div > div > div.card-footer > div > div:nth-child(1) > nav > ul > li.page-item.active > span{
    border-color: #f07c22 !important;
    background: rgb(249,113,16) !important;
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%) !important;
    
}

body > footer > div > div:nth-child(1) > div{
    text-align: center;
}

body > div.main-nav > div > div > div.col-lg-4 > div > nav > div:nth-child(2) > a > i{
    color: #0958A1 !important;
}

#app > div > div > div.row > div > div > div > div > div.col-xl-8.clearfix > div.m-t-50.text-center > a{
    background: rgb(249,113,16) !important;
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%) !important;
}

#app > div > div > div > div.col-lg-12 > form > div > div.card-header.py-4{
    background: rgb(5,60,120);
    background: linear-gradient(190deg, rgba(5,60,120,1) 0%, rgba(0,104,218,1) 100%);
}

#app > div > div > div > div > div > div.card-footer > div > div > nav > ul > li.page-item.active > span{
    background: rgb(249,113,16) !important;
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%) !important;
    border: none !important;
    color: #fff !important
}

#app > div > div > div.row > div > div > div > div > div > form > div.form-group.mb-0.row{
    margin-top: 30px;
}

#app > div > div > div > div.col-12.mb-4 > nav > ol{
    background: #1c1c1c;
    border-radius: 15px;
    margin-top: 30px;
}

#app > div > div > div.profile-head.mb-4{
    margin-top: 30px;
    color: #181818;
}

#app > div > div > div > div > nav > ol > li > a{
    color: #fff !important;
}

#app > div > div > div.profile-head.mb-4 > h4{
    color: #333 !important;
    text-transform: uppercase;
}
#app > div > div > div > div.col-12.mb-4 > nav > ol > li > a{
    color: #fff !important;
}

#app > div > div > div > div.col-lg-12 > form > div > div.card-header.py-4 > h3{
    color: #fff !important;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li > span.main-text.d-block{
    color: #15b93a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-top: 5px;
}

#app > div > div > div > div > div > div.card-footer{
    background: #1c1c1c;
}

#app > div > div > div > div > div.m-y-50.position-relative > div.d-block > div > div > span{
    color: rgb(249,113,16) !important;
}

#loginModal > div > div > div.modal-footer.text-center > div > p{
    margin-bottom: 10px;
}

#loginModal > div > div > div.modal-footer.text-center > div > a{
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    padding: 5px 25px;
    border-radius: 25px;
    color: #fff !important;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(2){
    margin-top: 7px;
    margin-bottom: 7px;
    background: linear-gradient(90deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    color: white;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(1){
    background: radial-gradient(circle, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    border-radius: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(3){
    background: #1c1c1c;
    padding: 7px;
    border-radius: 25px;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li > span.sub-text.text-uppercase{
    color: #fff !important;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li > span.main-text.card-money.d-block{
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li{
    display: flex !important;
    flex-direction: column-reverse;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul > li:nth-child(1) > span.sub-text.text-uppercase{
    color: #fff;
    text-shadow: none !important;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.item-details.d-block > ul{
    flex-direction: column;
    margin: auto;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.d-inline-block > div > i{
    color: #0958A1;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3{
    margin-top: 7px !important;
}

#app > div > section > div > div.row > div > div > div > div.card-body > div.d-inline-block > div{
    margin-top: 12px !important;
}

body > footer > div > div > div > div.footer-bottom > div > div > p{
    color: #fff !important;
}

body > footer > div > div > div > div.footer-border > div > div > div.col-lg-3.col-md-12.p-t-50 > div > ul > li > i{
    color: #FF6B00 !important;
}

body > footer > div > div > div > div.footer-border > div > div > div.col-lg-4.col-md-6.p-t-50 > div > div > div > div > p{
    color: #fff !important;
}

#app > div > section > div > div.row > div > div > div > div.card-image-area.position-relative > span.auction-badge > span{
    border-top-right-radius: 25px;
}

.prop-city .list li::before{
    color: #FF6B00 !important;
}

#app > div > section > div > div.row > div > div{
    box-shadow: 0px 0px 1px 1px rgba(211,211,211,1);
    border-radius: 25px;
}

body > footer > div > div > div > div.footer-border > div > div > div.col-lg-5.col-md-6.p-t-50{
    border-right: 1px solid #fff;
}

body > footer > div > div > div > div.footer-border > div > div > div.col-lg-4.col-md-6.p-t-50{
    border-right: 1px solid #fff;
}

body > div.main-nav > div > div > div.col-lg-5 > div > nav > a:nth-child(2){
    border: 1px solid #0958A1;
    border-radius: 20px;
    color: #0958A1;
    background: #fff;
    transition: 0.5s;
}

body > div.main-nav > div > div > div.col-lg-5 > div > nav > a:nth-child(2):hover{
    background: rgb(0,65,125);
    background: radial-gradient(circle, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    color: #fff;
}

#app > div > div > div.row > div > div.row > div > div{
    
    border-radius: 25px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);

}

#app > div > div > div.row > div > div.row > div > div > div > div.card-image-area.position-relative > figure > a > img{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    min-height: 220px;
    max-height: 220px;
    object-fit: none;
    object-position: center center;
}
#app > div > section > div > div.row > div > div > div > div.card-image-area.position-relative > figure > a > img{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    min-height: 220px;
    max-height: 220px;
    object-fit: none;
    object-position: center center;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-image-area.position-relative > span.auction-badge > span{
    border-top-right-radius: 25px;
}

#app > div > section > div > div.m-b-50.position-relative > div.fz-26.font-weight-bold.color-999.global-custom-header > span{
    color: #043C78 !important;
}

body > div.main-nav > div > div > div.col-lg-5{margin: auto;}

#app > div > div > div.row > div > div.card.card-outline.custom-card.mb-4.card-info > div.card-header > div.row > form > div.col-md-6 > div > a{
    background: rgb(249,113,16);
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%);
    border: none;
}

#app > div > div > div.row > div > div.card.card-outline.custom-card.mb-4.card-info > div.card-header > form > button{
    background: rgb(249,113,16);
    background: linear-gradient(0deg, rgba(249,113,16,1) 0%, rgba(255,0,0,1) 100%);
    border: none;
}

#app > div > div > div.row > div > div.card.card-outline.custom-card.mb-4.card-info > div.card-header > form > div > div > h6{
    color: #fff;
}

#app > div > div > div.row > div > div.card.card-outline.custom-card.mb-4.card-info > div.card-header > form > div > div > div > label{
    color: #fff;
}

#app > div > div > div.row > div > div.card.card-outline.custom-card.mb-4.card-info > div.card-header{
    background: rgb(0,65,125) !important;
    background: radial-gradient(circle, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%) !important;
}

#app > div > div > div.pb-3 > nav > ol > li:nth-child(1) > a{
    color: #fff !important;
}

#app > div > div > div > div.col-lg-12 > nav > ol > li:nth-child(1) > a{
    color: #fff !important;
}

#app > div > div > div.pb-3 > nav{
    display: inline-block !important;
    margin-top: 80px;
}

#app > div > div > div > div.col-lg-12 > nav{
    display: inline-block !important;
    margin-top: 80px;
}

#app > div > div > div.pb-3 > nav > ol{
    background: #1c1c1c;
    border-radius: 15px;
}

#app > div > div > div > div.col-lg-12 > nav > ol{
    background: #1c1c1c;
    border-radius: 15px;
}

/*-----------------------------------------------------------------------------------

Template Name: GymKoro HTML Template
Version: 1.0

-----------------------------------------------------------------------------------

CSS INDEX
===================

01. THEME DEFAULT CSS
    01.1 starter css
    01.2 starter color
    01.3 front size
    01.4 custom button
    01.5 section padding
    01.6 section margin
    01.7 loader css
    01.8 global header
    01.9 breadcrumb
    01.10 code optimized

02.0 HOME ONE
    02.1 main nav css
    02.2 sticky nav
    02.3 slick nav
    02.4 main banner
    02.5 why chose us
    02.6 packages
    02.7 schedule

03.0 HOME TWO
    03.1 main banner
    03.2 banner slider
    03.3 testimonials

04.0 ABOUT PAGE
    04.1 welcome para
    04.2 our agents
    04.3 testimonials
    04.4 counter

05.0 CLASSES PAGE
    05.1 counter

06.0 SERVICE PAGE
    06.1 service
    06.2 service slider

07.0 TRAINER DETAILS PAGE
    07.1 trainer details
    07.2 contact details

08.0 BLOG PAGE
    08.1 blogs
    08.2 sidebar
    08.3 popular category
    08.4 blog social
    08.5 blog tags
    08.6 pagination

09.0 BLOG DETAILS PAGE
    09.1 single blog
    09.2 comment

10.0 CONTACT US PAGE
    10.1 map

11.0 FOOTER AREA
    11.1 footer
    11.2 footer bottom

12.0 responsive css
    12.1 res 1199px css
    12.2 res 991px css
    12.3 res 767px css
    12.4 res 576px css
    12.5 res 425px css

-----------------------------------------------------------------------------------*/

/*---- Google Font ----*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

/* -- fonts use-------------------

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

--------------------------------- */

/*----------------------------------------*/
/* ======= 01. THEME DEFAULT CSS ======== */
/*----------------------------------------*/
/* ========== 01.1 starter css ========== */

body {

    background: #fff !important;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    margin: 0;

}

* {

    outline: none !important;

}

p {

    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    color: #000;
    margin-bottom: 0;

}

a {

    color: #fff;
    transition: 0.5 all;

}

a:hover {

    text-decoration: none;
    color: #FF6B00;

}

ul {

    padding-left: 0;
    list-style: none;
    margin: 0;

}

ul li {

    list-style: none;
    display: block !important;
    margin: 0;

}

ol li {
    margin: 0;
    display: block !important;
}

h1, h2, h3, h4, h5, h6 {

    margin: 0;
    line-height: 1;

}

/* ========= 01.2 starter color ========= */

.color-default {

    color: #043C78 !important;

}

.color-999 {

    color: #444 !important;

}

.color-666 {

    color: #666 !important;

}

.color-333 {

    color: #333 !important;

}

.bg-custom-gray {
    background-color: #ececec;
}

.bg-blue {
    background-color: #007bff;
}

.bg-indigo {
    background-color: #6610f2;
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-pink {
    background-color: #e83e8c;
}

.bg-teal {
    background-color: #20c997;
}

.bg-notification {
    background: rgba(55, 255, 96, 0.11);
}

/* ========= 01.3 front size ========= */
.fz-40 {

    font-size: 40px !important;

}

.fz-32 {

    font-size: 32px !important;

}

.fz-26 {

    font-size: 26px !important;

}

.fz-20 {

    font-size: 20px !important;

}

.fz-14 {

    font-size: 14px !important;

}

.fz-16 {

    font-size: 14px !important;

}

.fz-12 {

    font-size: 12px !important;

}
.fz-10 {

    font-size: 10px !important;

}

.fz-13 {

    font-size: 13px !important;

}

.sub-text {

    font-size: 13px;
    color: #999;

}

.default-color {
    background-color: #0958A1;
}

.breadcrumb-item.active {
    background: none !important;
    color: #fb4a0b !important;
    border: 0 !important;
    box-shadow: none !important;
}

.cm-pagination-text {
    color: #999;
}
/* ========= 01.4 custom button ========= */

.cm-filter-form button {
    color: #0958A1;
    background: #fff;
    border: #ddd 2px solid;
}

.cm-filter-form button:hover{
    background: #0958A1 !important;
}

#app > div > div > div > div.col-lg-12 > div > div.card-header > form > button{
    color: #0958A1;
    background: #fff;
    border: #ddd 2px solid;
}

#app > div > div > div > div.col-lg-12 > div > div.card-header > form > button:hover{
    background: #0958A1 !important;
    color: #fff !important;
}

.cm-filter-checkbox:checked + .cm-filter-checkbox-label::after{
    background: #FB4A0B !important;
}

#app > div > div > div > div.col-lg-12 > div > div.card-header > form > div > div > h6{
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

#app > div > div > div > div.col-lg-12 > div > div.card-header > div.row > form > div.col-md-6 > div > a{
    color: #0958A1 !important;
    background: #fff !important;
    border: #ddd 2px solid !important;
}

.custom-btn {

    font-weight: bold;
    border-radius: 25px;
    background: #fff !important; 
    color: rgba(9,88,161,1) !important;
    border: rgba(9,88,161,1) 1px solid !important;
    padding: 10px 30px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;

}

.custom-btn:hover {

    background: rgba(9,88,161,1) !important;
    color: #fff !important;
}

input:focus,
.btn-info:focus,
.btn-info.focus,
.custom-file-input:focus,
.form-control:focus,
.page-link:focus,
.custom-file-input:focus ~ .custom-file-label {

    box-shadow: none !important;

}

.custom-select {

    outline: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;

}

.custom-select:focus {

    box-shadow: none;

}

.input-number {
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 50px;
    user-select: none;
    width: 100%;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

/* ======== 01.5 section padding ======== */
.p-y-100 {

    padding: 100px 0;

}

.p-t-100 {

    padding-top: 100px;

}

.p-b-100 {

    padding-bottom: 100px;

}

.p-y-50 {

    padding: 50px 0;

}

.p-t-50 {

    padding-top: 0px;

}
.p-t-80 {

    padding-top: 80px;

}

.p-b-50 {

    padding-bottom: 50px;

}

/* ======== 01.6 section margin ======== */

.m-b-80 {

    margin-bottom: 80px;

}

.m-y-50 {

    margin: 50px 0;

}

.m-t-50 {

    margin-top: 50px;

}

.m-t-80 {

    margin-top: 80px;

}

.m-b-50 {

    margin-bottom: 50px;

}

/* ========== 01.7 loader css =========== */

/* KEYFRAMES */

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-135deg);
    }
    75% {
        transform: rotate(-225deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
}

.spinner-box .lds-facebook {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 75px;
    height: 75px;

}

.card-money {
    font-weight: bold;
    color: #15b93a;
}

/* GRID STYLING */

.spinner-box {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999999 !important;
}

.configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d9bf2;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0958A1;
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
    width: 100%;
    height: 100%;
    background-color: #fff;
}


/*loader ends*/

.custom-validate .custom-control-input.is-valid ~ .custom-control-label::before,
.custom-validate.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-validate .custom-control-input.is-invalid ~ .custom-control-label::before,
.custom-validate.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background-color: #efa2a9;
    display: none;
}

.custom-validate .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    box-shadow: 0 0 25px 1px rgba(179, 35, 35, 0.43);
    font-size: 20px;
    z-index: 99;
    width: 100% !important;
    background: #ff214f;
    height: 100%;
    position: relative;
    border-radius: 40px;
    padding: 5px 10px;
    color: #fff;
}

.custom-validate .custom-control-label {
    position: absolute;
    top: 20px !important;
    right: 10px !important;
    content: "";
    background-repeat: no-repeat;
    z-index: 99;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-validate-hover {
    position: relative;
}

.custom-validate-hover .custom-radio {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 !important;
}

.custom-validate-hover .custom-radio .custom-control-input{
    width: 100%;
    height: 100%;
    z-index: 99999;
    cursor: pointer;
}

.address-dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon-round {
    color: #0958A1;
    border-radius: 20px;
    border: 1px solid #0958A1;
    padding: 8px;
    margin-bottom: 0px;
}

#app > div > div > div > div:nth-child(2) > div > div.card-header > div > form{
    margin-top: 15px;
}

.address-dropdown-menu .drop-menu.show {
    font-size: 14px;
    color: #212529;
    padding: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    animation: .3s fadeIn ease;
    -webkit-animation: .3s fadeIn ease;
}

.address-card {
    position: relative;
}
.default-badge {
    position: absolute;
    background: #20c997;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1);
    padding: 5px 7px;
    bottom: 15px;
    right: 0;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 10px;
    color: #fff;
}

.nav-tabs-custom {
    background: #eaeaea;
}

.login-alert {
    color: #b56d74 !important;
    background-color: #fde9eb !important;
    border-color: #ffe3e6 !important;
    text-align: center;
    padding: 8px;
    margin-bottom: 30px;
}

.profile-head {
    background: #fff;
    padding: 15px 15px;
}

.custom-border {

    border-top: 5px solid #e9e9e9;
}

.common-nav .nav .nav-item .nav-link  {
    color: #999;
}

.common-nav .nav .nav-item .nav-link.active {
    color: #333;
}

.contact-bg .agent-form .form-control {
    border-bottom: 3px solid #999 !important;
    color: #999 !important;
    padding: 12px !important;
    text-indent: 10px;
    background: #fff !important;
    font-size: 13px !important;
    padding: 12px !important;
    border-radius: none !important;
    transition: 0.5s linear;
}

.contact-bg .agent-form .form-control:focus{
    border-bottom: 3px solid #FF6B00 !important;
    color: #FF6B00 !important;
    outline: none !important;
}

.agent-info .agent-title {
    font-size: 28px;
    font-weight: bold;
    color: #ff214f;
    line-height: 1;
    text-transform: uppercase;
}
.agent-info .designation {
    font-size: 18px;
    color: #999;
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
}
.agent-info .personal-info {
    font-family: "Poppins", sans-serif;
}
.agent-info .personal-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #333 !important;
}
.agent-info .personal-info ul li span {
    width: 40%;
    text-align: left !important;
    display: inline-block;
    text-transform: capitalize;
}
.agent-info .personal-info ul li span i {
    margin-right: 5px;
    color: #ff214f;
}
.agent-info .single-share ul li:first-child {
    font-size: 18px;
    margin-right: 10px;
}

.top-social ul li a {
    padding: 0 10px;
}

/* ========= 01.8 global header ========= */


.custom-profile-nav .nav-tabs .nav-item.show .nav-link, .custom-profile-nav .nav-tabs .nav-link.active {
    color: #fff;
    background: #0958A1;
    border-bottom: 2px solid #fff;
}

.custom-profile-nav .nav-tabs .nav-item.show .nav-link,.custom-profile-nav .nav-tabs .nav-link {
    color: #999;
}

#days {
    font-size: 30px;
    color: #db4844;
}
#hours {
    font-size: 30px;
    color: #f07c22;
}
#minutes {
    font-size: 30px;
    color: #f6da74;
}
#seconds {
    font-size: 15px;
    color: #abcd58;
}

.card-view {
    padding: 5px;

}

.global-header {

    position: relative;

}

.global-header-top {

    font-size: 36px;
    z-index: 99;
    position: relative;
    color: #999;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 5px 5px rgba(200, 200, 200, 0.2);

}

.global-header-bottom {

    font-size: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #efefef;
    z-index: 9;
    font-weight: 900;

}

/* ======== 02.1 search field css =========== */

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.td input, .td button
{
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.cover {
    padding: 10px;
    background-color: #c1c1c1;
    border-radius: 20px;
}

.cover form
{
    height: 20px;
}

.cover input[type="text"]
{
    height: 15px;
    font-size: 16px;
    padding-left: 10px;
    width: 90%;
    line-height: 1;
}

.cover input[type="text"]::placeholder
{
    color: #fff;
}

#s-cover
{
    width: 1px;
    padding-left: 2px;
}

.td button
{
    position: relative;
    display: block;
    width: 20px;
    height: 15px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -5px;
    left: -8px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    /*border-width: 15px;*/
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.td button span {
    position: absolute;
    top: 15px;
    left: 3px;
    display: block;
    width: 10px;
    background-color: transparent;
    border-radius: 5px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.td button span::before, button span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 7px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

.profile-nav li a {
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    padding: 7px 15px;
    font-size: 12px;
}

.profile-nav li a:hover {
    background-color: #ff214f;
    border: 1px solid #ff214f;
    color: #fff !important;
    border-radius: 3px;
    transition: all ease .3s;
}

/* ======== 02.1 main nav css =========== */

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #0958A1;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.register-modal .modal-dialog {
    max-width: 600px;
}

.login-btn button {
    border-radius: 10px;
    padding: 10px 15px;
}

.profile-content .card{
    border-radius: 0;
}

.profile-content .card-header{
    padding: 30px 20px;
}


.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.custom-login .input-group input {

    padding: 10px;
    border: 1px solid #444 !important;
    border-radius: 6px;
}

.modal {
    z-index: 99999 !important;
}

.custom-modal .modal-dialog {

    animation: .2s fadeIn ease;
    -webkit-animation: .2s fadeIn ease;

}

.custom-modal .modal-content {
    font-size: 1rem;
    color: #212529;
    border: 1px solid transparent;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, .1);
}

.custom-modal .modal .modal-body {
    padding: 0px 40px 30px;
}

.custom-modal .td button span::before, .custom-modal button span::after {
    display: none;
}
.custom-modal .modal .modal-footer {
    justify-content: center;
}

.custom-modal .modal-header {
    display: block;
    position: relative;
    padding: 30px 0;
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    color: #fff;
    margin-bottom: 30px;
}

.custom-modal .modal-header .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-weight: normal;
    font-size: 32px;
}

.custom-modal .modal-header .close:hover {
    color: #fff;
}

.custom-modal .modal .modal-header .modal-title {
    justify-content: center !important;
    text-align: center !important;
    font-size: 24px;
    color: #fff !important;
}

.card-header {
    border-bottom: 1px solid rgba(176, 176, 176, 0.2);
}

.card-footer {
    border-top: 1px solid rgba(176, 176, 176, 0.2);
}


.rules-area p {
    line-height: 1.4;
}

.winner ul li {
    line-height: 1.8;
}

.no-select::after {
    top: 0 !important;
    line-height: 34px !important;
}

.profile-drop.show{

    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    padding: 20px 15px;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, .07);
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    animation: .3s fadeIn ease;
    -webkit-animation: .3s fadeIn ease;
    width: 280px;
}

.user-avater img{
    max-width: 40px
}

.drop-menu a {

    border: none !important;
    padding: 10px 15px;
}

.drop-menu a:hover, .drop-menu a:hover i {

    background: rgb(5,60,120);
    background: linear-gradient(131deg, rgba(5,60,120,1) 0%, rgba(0,104,218,1) 100%);
    transition: .3s;
    border-radius: 5px;
    color: #fff !important;

}

.guest-link {
    font-size: 12px;
    color: #666;
}

.nav-icons .nav-link{

    border-radius: 0;
    color: #044183;

}

.card-time{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(247, 247, 247, 0.89);
    padding: 10px 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.sub-text.text-uppercase{
    font-size: 10px !important;
    color: #FF6B00;
    text-transform: initial !important;
    font-weight: 300;
    letter-spacing: 1px;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.sub-text.text-uppercase{
    font-size: 10px !important;
    color: #FF6B00;
    text-transform: initial !important;
    font-weight: 300;
    letter-spacing: 1px;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.main-text.card-money.d-block{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 19px !important;
    color: #FF6B00;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.main-text.card-money.d-block > span{
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 19px !important;
    color: #FF6B00;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.main-text.card-money.d-block{
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 19px !important;
    color: #FF6B00;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-image-area.position-relative > span.fz-12.color-999.card-time.d-block > span.main-text.card-money.d-block > span{
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 19px !important;
    color: #FF6B00;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.details-bottom.mt-3 > div.count-down{
    text-align: center;
    box-shadow: 0px 4px 3px 0px rgb(143 143 143);
    padding: 15px 40px;
    border-radius: 50px;
}

#app > div > div > div.row > div > div.row > div > div > div > div.card-body{
    text-align: center;
}

.nav-icons nav a i {

    color: #044183;
    font-size: 20px;

}

body > div.main-nav > div > div > div.col-lg-4 > div > nav > div:nth-child(1){
    background: #fff;
    border: 1px solid #044183;
    border-radius: 25px;
    color: #044183 !important;
    margin:auto;
}

.c-button.c-button--primary {
    background: none;
    border: none;
}
.hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 23px;
    cursor: pointer;
}
.hamburger div {
    align-self: flex-end;
    height: 3px;
    width: 100%;
    background: #999;
}
.hamburger .meat {
    width: 100%;
    transition: all 200ms ease-in-out;
}
.hamburger .bottom-bun {
    width: 100%;
    transition: all 400ms ease-in-out;
}
.hamburger:hover div {
    width: 100%;
}
.hamburger:hover .top-bun {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate;
    animation: burger-hover 1s infinite ease-in-out alternate;
}
.hamburger:hover .meat {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
    animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}
.hamburger:hover .bottom-bun {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
    animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

@-webkit-keyframes burger-hover {
    0% {
        width: 100%;
    }
    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes burger-hover {
    0% {
        width: 100%;
    }
    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

/*----------------------------------------*/
/* =========== 02.0 HOME ONE ============ */
/*----------------------------------------*/
/* ======== 02.1 main nav css =========== */

.header {

    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    position: fixed;

}

#app {
    line-height: 1.1;
}

.main-logo img {

    max-width: 170px;
    height: 40px;

}

.main-nav .dropdown-menu {
    font-size: 16px !important;
}

.footer-title-width {
    width: 200px;
}

.main-nav {

    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);

}

.custom-nav ul li a {
    color: #333;
    padding: 15px 15px;
    font-size: 16px !important;
    border-bottom: 1px solid #eaeaea;
}

.custom-nav ul li a:hover, .custom-nav ul .active a {
    background-color: #ff214f;
    color: #fff !important;
    font-weight: bold;
}


.custom-nav ul li .has-child:after {

    content: '\f105';
    float: right;
    font-size: 16px;
    font-family: FontAwesome;
    font-weight: normal;
    text-decoration:none;
    transition: .3s;

}

.custom-nav ul li .active.has-child:after {

    content: '\f107' !important;
    float: right;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration:none;

}


/* ======== 02.1 side nav =========== */

.nav-notification  {
    position: relative;
}

.display-none {
    display: none;
}

.nav-notification .notification-badge {
    position: absolute;
    border-radius: 25px;
    padding: 2px 4px;
    line-height: 100%;
    min-width: 12px;
    font-size: 10px;
    color: #0958A1;
    top: -8px;
    right: -15px;
    font-weight: bold;
    border: 1px solid #979797;
}

.nav-massage  {
    position: relative;
}

.nav-massage .massage-badge {
    position: absolute;
    border-radius: 25px;
    padding: 2px 4px;
    line-height: 100%;
    min-width: 12px;
    font-size: 10px;
    color: #e13d3d;
    top: -8px;
    right: -27px;
    font-weight: bold;
    border: 1px solid #979797;
}

.custom-notifi-badge {
    border-radius: 30px;
    padding: 2px 4px;
    line-height: 100%;
    min-width: 12px;
    font-size: 10px;
    color: #e13d3d;
    top: 0;
    right: 10px;
    font-weight: bold;
    border: 1px solid #979797;
}

.sidebar-menu > li:hover > a small, .sidebar-menu > li.active > a small {
    color: #fff;
    border: 1px solid #fff;
}

#search {
    align-items: center;
    background: #e5e5e5;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    transition: all 1s;
    width: 100%;
    height: 42px;
}

#button i {
    font-size: 16px;
    color: #0958A1;
}
#search button,
#search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
    transition: 1s linear;
}
#search button {
    cursor: pointer;
    line-height: 42px;
    border-left: 2px solid #fff;
    padding-left: 15px;
}
#search input {
    flex: 1;
}
#search input::-webkit-input-placeholder {
    color: #666;
}
#search input:-ms-input-placeholder {
    color: #666;
}
#search input::-ms-input-placeholder {
    color: #666;
}
#search input::placeholder {
    color: #666;
}
#search .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    display: none;
    padding: 0 0.25em;
}

#search.loading button {
    display: none;
}
#search.loading .spinner {
    display: block;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.close-button {
    right: 32px;
    top: 0;
    color: #999;
    cursor: pointer;
    font-size: 24px;
}

.close-button img {
    height: 30px;
    opacity: .3;
}

.sidebar-menu {
    list-style: none;
    position: relative;
}

.main-sidenav {
    overflow: hidden;
    z-index: 999999 !important;
    height: 100%;
}

.mCustomScrollbar.sidenav {
    max-height: 680px !important;
}

.main-sidenav.showbar {
    width: 350px !important;
    z-index: 999999;
    position: fixed;
    left: 0;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
    height: 100%;
    background: #253238;
}

.main-sidenav .mCSB_inside > .mCSB_container {
    margin-right: 10px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #044183 !important;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(187, 185, 185, 0.4) !important;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools {
    background: none;
}

.dashboard-switcher {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 999;
    background: #fff;
    box-shadow: -10px 10px 15px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid #e3e3e3;
    color: #666;
    border-radius: 10px;
}

.dashboard-switcher a {
    padding: 10px 20px;
    font-weight: bold;
    display: block;
}

.main-sidenav {
    left: -350px;
    top: 0;
    width: 350px;
    transition: all ease .5s;
    position: absolute;
}


.overlay {
    transition: all ease .3s;
}

.overlay-active {
    opacity: 1;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0 ,0, .4);
    transition: all ease .3s;

}


.sidebar-menu > li {
    position: relative;
    margin: 5px 0;
    padding: 0;
    display: block;
}

.sidebar-menu > li > a {
    padding: 15px 25px;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border-bottom: 0;
    border-left: 3px solid transparent;
    color: #fff;
}

.sidebar-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;
    font-weight: bold;
    background: #394a52;
}

.sidebar-menu > li > .treeview-menu {
    margin: 0;
    padding: 20px 10px;
    background: #253238;
}

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu li.header {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #253238;
}

.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu li.active > .treeview-menu {
    display: block;
}

.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
    display: block;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 15px 15px 15px 45px;
    display: block;
    font-size: 14px;
    color: #fff;
}

.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}

.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
    background: #394a52;
}

.line-height-1 {
    line-height: 1;
}

.link-area {
    display: inline-block;
    background: #fff;
    border: 1px solid rgb(249,113,16); 
    border-radius: 25px;
    padding: 15px 40px;
    transition: 0.3s;
}

.link-area:hover{
    background: #fff;
}

.auction-badge {
    position: absolute;
    right: 0px;
    top: 0px;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.18);
}

.global-custom-header {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 20px;
    font-weight: 300 !important;
    text-transform: lowercase;
}

body > div.p-b-100 > section > div > div.m-b-50.position-relative > div.fz-26.font-weight-bold.color-999.global-custom-header > span{
    font-weight: 900;
}

.c-slideout {
    height: 100%;
    width: 100%;
}
.c-slideout__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.c-slideout__container {
    height: 100%;
    width: 22rem;
    background-color: #fefefe;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.c-close {
    position: absolute;
    background: 0 0;
    opacity: .5;
    right: .625rem;
    top: .4375rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

.overlay-enter-active, .overlay-leave-active {
    transition: all 0.3s ease-out;
}
.overlay-enter, .overlay-leave-to {
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-enter-active, .slide-leave-active {
    transition: all 0.3s ease-out;
}
.slide-enter, .slide-leave-to {
    transform: translateX(-100%);
}

/*----------------------------------------*/
/* ====== 04. properties details ======== */
/*----------------------------------------*/
.property-title .item-name {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    background: #fb4a0b;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 10px;
}

.property-title .property-area {
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
}
.property-title .property-area i {
    color: #eee;
    font-size: 18px;
    margin-right: 10px; }

.property-title .property-price {
    padding: 18px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid rgba(0, 65, 125, 0.5);
    font-weight: 300;
    border-radius: 15px;
    display: flex;
    background: transparent; }
.property-title .property-price span {
    font-weight: 300;
    height: 22px;
    margin: auto;
}
.property-title .property-price .for-badge {
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 500;
    text-transform: capitalize; }

.property-title .property-overview {
    margin-top: 0 !important;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 20px; }
.property-title .property-overview ul li {
    margin-right: 30px;
    text-transform: capitalize; }
.property-title .property-overview ul li i {
    color: #333333 !important;
    font-size: 18px !important;
    margin-right: 5px; }
.property-title .property-overview ul li:last-child {
    margin-right: 0; }

.owl-six {
    position: relative; }
.owl-six #sync1 .item {
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center; }
.owl-six #sync2 .item {
    color: #FFF;
    margin: 10px;
    margin-top: 5px;
    background: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    opacity: .4;
    transition: .5s; }
.owl-six #sync2 .current .item {
    opacity: 1;
    transition: .3s;
    transform: scale(1.1); 
}

.property-tab .nav-tabs .nav-link {
    color: #999; }

.property-tab .nav-tabs .nav-link.active,
.property-tab .nav-tabs .nav-item.show .nav-link {
    color: #FB4A0B !important; }

.features-list ul li {
    margin-bottom: 20px; }
.features-list ul li i {
    color: #FB4A0B;
    font-size: 18px;
    margin-right: 10px; }

/*----------------------------------------*/
/* ========== 07. blog page ============= */
/*----------------------------------------*/
.s-box {
    background: #044183;
    padding: 20px; }
.s-box-header {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 7px; }
.s-box-header span {
    color: #fff;
    font-weight: 900; }

.blog-search {
    position: relative; }
.blog-search .form-control {
    width: 100% !important;
    height: calc(2.25rem + 2px);
    padding: 0.575rem 3rem .5rem 1.5rem;
    color: #999;
    font-size: 14px;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background: none; }
.blog-search .form-control:hover, .blog-search .form-control:focus {
    border: 1px solid #999;
    transition: .3s; }
.blog-search .form-control::placeholder {
    color: #bfbfbf; }
.blog-search button {
    position: absolute;
    right: 10px;
    border: none;
    color: #e1e1e1;
    transition: .5s; }
.blog-search button:hover {
    color: #10cea1;
    transition: .5s; }
.blog-search .btn {
    background: none; }

.popular-cat .list-group-item {
    border: 1px solid #eaeaea !important; }
.popular-cat .list-group-item a {
    color: #666;
    transition: .5s;
    display: block;
    text-transform: capitalize; }
.popular-cat .list-group-item a:hover {
    color: #10cea1;
    transition: .3s;
    transform: translateX(3px); }
.popular-cat .list-group-item .badge-primary {
    background: #10cea1; }

.pop-sing-card .media img {
    max-width: 110px;
    height: auto; }

.pop-sing-card .media span a {
    font-size: 16px;
    color: #10cea1;
    line-height: 1;
    text-transform: capitalize;
    font-weight: bold;
    transition: .3s; }
.pop-sing-card .media span a:hover {
    color: #ff214f;
    transition: .3s; }

.pop-sing-card .media .pop-date {
    color: #999;
    margin-top: 5px;
    font-size: 12px; }

.pop-sing-card .media .pop-price {
    font-weight: 600;
    color: #666; }

.blog-social ul li {
    margin-right: 10px; }
.blog-social ul li a {
    width: 45px !important;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #10cea1;
    transition: .5s;
    border-radius: 5px; }
.blog-social ul li a i {
    line-height: 40px;
    color: #fff;
    font-size: 18px; }
.blog-social ul li a:hover {
    background: #ff214f !important;
    transition: .3s; }
.blog-social ul li:last-child {
    margin-right: 0; }

.blog-tags ul li {
    margin-right: 5px;
    margin-bottom: 5px; }
.blog-tags ul li a {
    padding: 5px 10px;
    background: #fff;
    text-transform: capitalize;
    color: #999;
    border: 1px solid rgba(125, 125, 125, 0.15);
    display: inline-block;
    font-size: 12px;
    transition: .5s; }
.blog-tags ul li a:hover {
    color: #fff;
    transition: .3s;
    background: #ff214f; }

.single-review img {
    width: 45px;
    height: auto;
    border-radius: 5px; }

.single-review-title a {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333; }

.single-review .rating ul li i {
    color: #ffcf10; }

.single-review p {
    font-size: 12px;
    color: #999; }

/*----------------------------------------*/
/* ========== 10. single blog =========== */
/*----------------------------------------*/
.single-blog-title {
    font-size: 26px;
    text-transform: capitalize; }

.single-blog-details {
    line-height: 1.6;
    font-size: 16px;
    color: #666; }

.blockqu {
    border-left: 5px solid #10cea1;
    padding: 15px 10px;
    background: #f8f8f8;
    font-size: 16px; }

.single-tag ul li:first-child {
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 10px; }

.single-share ul li {
    margin-right: 5px; }
.single-share ul li a {
    border: 1px solid #efefef;
    width: 35px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    transition: .5s; }
.single-share ul li a:hover {
    background: #ff214f;
    transition: .3s; }
.single-share ul li a:hover i {
    color: #fff;
    transition: .3s; }
.single-share ul li a i {
    color: #888; }
.single-share ul li:last-child {
    margin-right: 0; }

.single-comment-amount, .single-blog-title {
    font-size: 22px;
    font-weight: 500; }

.single-comment .media img {
    width: 55px;
    height: auto;
    border-radius: 5px; }

.single-comment .media .media-body .comment-title {
    font-size: 20px;
    display: block;
    line-height: 1; }

.single-comment .media .media-body .reply {
    color: #10cea1;
    transition: .7s;
    font-size: 12px; }
.single-comment .media .media-body .reply i {
    transition: .7s;
    color: #10cea1;
    font-size: 10px; }
.single-comment .media .media-body .reply:hover {
    color: #ff214f;
    transition: .3s; }
.single-comment .media .media-body .reply:hover i {
    color: #ff214f;
    transition: .3s; }

.comment-form .form-control {
    font-size: 14px;
    color: #666 !important;
    border: 1px solid #dfdfdf; }


/* ======== 02.2 sticky nav =========== */

.notification-control .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: transparent !important;
}

.notifications-area {
    width: 400px !important;
    padding: 10px;
}

.notifications-area a {
    color: #666;
    font-size: 14px;
}

a.disabled {
    pointer-events: none;
}

.notifications-area a:hover span{
    background-color: #ff214f;
    color: #fff !important;
}

.sticky-nav {

    background: #fff;
    box-shadow: 0 10px 10px 1px rgba(155, 155, 155, 0.3);
    position: fixed !important;
    transition: all ease .3s;
    width: 100%;
    top: -1px;
    left: 0;
    z-index: 99999;

}

/*========= Start : card css ===========*/

.fileinput-new{
    width: 200px !important;
    height: 180px !important;
}
.fileinput-preview {
    max-width: 200px !important;
    max-height: 180px !important;
}

.btn-file {
    width: 100px !important;
}

.grid-card .card-image-area {
    position: relative;
}
.grid-card .card-image-area figure {
    margin: 0;
}

#app > div > div > div.row > div > div.row > div > div > div{
    border-radius: 25px;
    border: none !important;
}

.grid-card .card-image-area .add-to-area {
    right: 10px;
    padding: 5px 10px;
    top: 10px;
    position: absolute;
    z-index: 9;
    font-size: 20px;
}
.grid-card .card-image-area .add-to-area .fa-heart {
    color: #ccc;
    transition: .3s;
}
.grid-card .card-image-area .add-to-area .fa-heart:hover {
    transition: .3s;
    color: #FF6966;
}
.grid-card .card-image-area ul li a i {
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
}
.grid-card .card-image-area ul li.active .fa {
    transition: .3s;
    color: #FF6966;
}

.grid-card .card .card-body {
    padding: 0px !important;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}
.grid-card .card .card-body .grid-title {
    max-width: 300px;
    display: block !important;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase !important;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #043C78;
}


#app > div > div > div.row > div > div.row > div > div > div > div.card-body > div.d-inline-block > div > a{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    
    color: #5C5C5C !important;
}

body > div.p-b-100 > section > div > div.row > div > div > div > div.card-body > div.d-inline-block > div > a{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    
    color: #5C5C5C !important;
}

.grid-card .card .card-body .item-amount {
    color: #FF6B00;
    font-size: 18px;
    font-weight: bold;
}
.grid-card .card .card-body .item-details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* border-top: 1px solid #f5f5f5; */
    margin-top: 15px;
    padding: 15px 0;
    /* border-bottom: 1px solid #f5f5f5; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.owl-one {
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid #f7f7f7;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
}

.owl-one .owl-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    transition: .3s;
}

.owl-one .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 5px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, .3);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-one .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff214f !important;
}

.owl-one .item {
    position: relative;
    overflow: hidden; }

.owl-one .slide-animation .text-area .header {
    animation: 2s .8s fadeInLeft both; }

.owl-one .slide-animation .text-area .h-sub-text {
    animation: 2s .6s fadeInUp both; }

.owl-one .slide-animation .text-area a {
    animation: 2s 3s flipInX both; }

.owl-one .text-animation {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999; }
.owl-one .text-animation .text-area .header {
    font-size: 80px;
    animation-delay: 2s;
    font-weight: 900;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px; }
.owl-one .text-animation .text-area .h-sub-text {
    line-height: 1;
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold; }
.owl-one .text-animation .text-area a {
    position: relative;
    z-index: 999;
    color: #fff;
    float: right; }

.owl-one .owl-nav {
    left: 0px;
    right: 0px;
    z-index: 99;
    margin: 0 !important; }
.owl-one .owl-nav button {
    position: absolute;
    top: 55%;
    transform: translateY(-100%); }
.owl-one .owl-nav button i {
    color: #fff;
    font-weight: normal;
    padding: 10px;
    font-size: 16px !important; }
.owl-one .owl-nav button i:hover {
    background-color: transparent; }
.owl-one .owl-nav [class*="owl-"] {
    background: none !important; }
.owl-one .owl-nav .owl-prev {
    left: 15px; }
.owl-one .owl-nav .owl-next {
    right: 15px; }

/*========= End : card css ===========*/

/*11.0 FOOTER AREA*/
.footer {
    background: rgb(0,65,125);
    background: linear-gradient(90deg, rgba(0,65,125,1) 0%, rgba(32,18,77,1) 100%);
}

.prop-city .v-2 li {
    width: 100% !important;
}

.prop-city .list li {
    float: left;
    width: 50%;
    margin-bottom: 8px;
}
.prop-city .list li a {
    color: #efefef;
    transition: .3s;
}
.prop-city .list li a:hover {
    color: #ff214f;
    transition: .3s;
    padding-left: 8px;
}
.prop-city .list li::before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-right: 10px;
    color: #ff214f;
    vertical-align: middle;
}

.popular-post-card .media img {
    width: 70px;
    height: 50px;
}

.popular-post-card .media .media-body span {
    color: #efefef;
    font-size: 16px;
}
.popular-post-card .media .media-body span:hover {
    color: #ff214f;
    transition: .3s;
}

.get-in-touch {
    color: #efefef;
}
.get-in-touch li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
}
.get-in-touch li:last-child {
    margin-bottom: 0;
}
.get-in-touch li i {
    color: #ff214f;
    position: absolute;
    left: 0;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.get-in-touch li a {
    color: #efefef;
}
.get-in-touch li a:hover {
    color: #ff214f;
    transition: .3s;
}

.footer-bottom {
    padding-top: 30px;
}
.footer-bottom p {
    color: #1C1C1C;
    text-align: center;
}

/*12. flash message*/
/* Flash Message Starts */

.flash-message {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background: rgba(0, 20, 15, 0.8);
    display: none;
    top: 0;
    left: 0;
}

.flash-message.flash-message-active {
    display: block;
}

.flash-close.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    z-index: 999;
}

.flash-removable {
    position: relative;
}

.close.flash-close {
    z-index: 9999999;
    color: #000;
    top: -18px;
    right: 2px;
}

.flash-icon {
    display: table;
    margin: 0 auto 15px;
    font-size: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 62px;
    background: #fff;
}

.flash-message .centralize-content {
    padding: 30px 15px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    display: none;
    max-width: 460px;
}

.flash-message .centralize-content p {
    font-size: 18px;
}

.flash-message .centralize-content.flash-success {
    color: #0b0;
    display: block;
}

.flash-message .centralize-content.flash-success .flash-icon {
    border: 4px solid #00bb00;
}

.flash-message .centralize-content.flash-success .flash-icon::before {
    content: "\F00C";
    font-family: FontAwesome;
}

.flash-message .centralize-content.flash-error {
    color: #f00;
    display: block;
}

.flash-message .centralize-content.flash-error .flash-icon {
    border: 4px solid #f00;
}

.flash-message .centralize-content.flash-error .flash-icon::before {
    content: "\F00D";
    font-family: FontAwesome;
}

.flash-message .centralize-content.flash-warning {
    color: #f80;
    display: block;
}

.flash-message .centralize-content.flash-warning .flash-icon {
    border: 4px solid #f80;
}

.flash-message .centralize-content.flash-warning .flash-icon::before {
    content: "\F071";
    font-family: FontAwesome;
}

.flash-message .centralize-content.flash-confirmation {
    color: #2379a1;
    display: block;
}

.flash-message .centralize-content.flash-confirmation .flash-icon {
    border: 4px solid #2379a1;
}

.flash-message .centralize-content.flash-confirmation .flash-icon::before {
    content: "\F128";
    font-family: FontAwesome;
}

.hidden-flash-item {
    display: none;
}

.flash-message .centralize-content.flash-confirmation .hidden-flash-item {
    display: initial;
}

.centralize-wrapper {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

div.centralize-inner {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

div.centralize-content {
    max-width: 360px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}



/*.timer {*/
/*    margin-top: 20px;*/
/*}*/

.count-down .day, .count-down .hour, .count-down .min, .count-down .sec {
    padding: 7px !important;
    border-radius: 5px;
    display: inline-block !important;
    text-align: center;
}

.sec .number {
    font-size: 13px;
}

.day .number {
    color: #6F42C1;
    font-size: 20px;
}

.hour .number {
    color: #ff214f;
    font-size: 18px;
}

.min .number {
    color: #20C997;
    font-size: 16px;
}

.sec .number {
    color: #777;
    font-size: 12px;
}
.sec .format {
    font-size: 8px;
}

.format {
    color: #b9b9b9;
    font-weight: normal;
    font-size: 11px;
    display: inline-block;
}

.format::after {
    content: ':';
    color: #999;
    margin-left: 5px;
}

.format:last-child:after{
    display: none;
}

/*Flash message ends*/

/*----------------------------------------*/
/* ======= 12.0 responsive css ========== */
/*----------------------------------------*/

@media only screen and (max-width: 575px){
    .main-sidenav.showbar {
        width: 300px !important;
    }

    .pagination .page-link {
        padding: 5px 12px !important;
        color: rgba(9,88,161,1) !important;
        border: 1px solid rgba(9,88,161,1) !important;
    }
}
@media only screen and (max-width: 575px){

    .agent-info .personal-info ul li span {
        width: 100% !important;
    }

    .prop-city .list li {
        width: 100%;
    }

    .global-custom-header {
        display: block;
        position: relative;
        text-align: center;
    }

    .link-area {
        display: flex;
        justify-content: center;
    }
    #app > div.p-b-100.p-t-80 > div > div > div.col-md-12.col-lg.-\35  > div > ul > li > span:nth-child(1){
        font-size: 15px;
    }

    #ya-puedes-enviar > strong{
        font-size: 8px;
    }
    #ya-puedes-enviar > img{
        width: 100px;
    }
}

@media only screen and (min-width: 1000px) {

    body > div.main-nav > div {
        max-width: 100% !important;
    }
    #app > div > div{
        max-width: 100% !important;
    }

    #app > div > div > div.row > div > div.row > div{
        padding: 35px;
    }

    #app > section > div{
        max-width: 100% !important;
    }

    body > div.p-b-100 > section > div{
        max-width: 100% !important;
    }

}

#mCSB_1_dragger_vertical{
    max-height: 200px !important;
}

@media only screen and (max-width: 1366px) {
    .mCustomScrollbar.sidenav {
        max-height: 400px !important;
        
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        height: 200px !important;
    }
}
@media only screen and (max-width: 991px){

    .nav-card {
        display: none;
    }

    #bidForm > div.row > div.col-md-12.col-lg-8.order-lg-0{

        margin-top: 15px;
    }
    
    body > footer > div > div > div > div.footer-border > div > div > div{
        border-right: none !important;
    }

    #app > div.p-b-100.p-t-80 > div > div > div > div > div > div > div.col-lg-8.col-md-12 > div.property-overview.mt-1 > ul{
        flex-direction: column;
    }

    #app > div.p-b-100.p-t-80 > div > div > div > div > div > div > div.col-lg-8.col-md-12 > div.property-overview.mt-1 > ul > li{
        margin-bottom: 10px;
    }

    #app > div.p-b-100.p-t-80 > div > div > div > div > div > div > div.col-lg-4.col-md-12 > div{
        margin-bottom: 20px;
    }

    .mCustomScrollbar.sidenav {
        max-height: 450px !important;
    }

    .c-button.c-button--primary {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        right: 15px;
    }

    .p-t-md-200 {
        padding-top: 192px !important;
    }

    .global-custom-header {
        padding: 10px;
    }

    .link-area {
        padding: 10px 40px;
    }

    #search {
        margin-top: 15px;
    }

    .nav-icons.notification-control {
        margin-top: 20px !important;
    }

    .nav-icons.notification-control-main {
        margin-top: 20px !important;
    }

    .notification-control-main .user-avater img {
        float: right;
    }

    .notification-control i {
        justify-content: center;
        display: flex;
    }

    .notification-control-main .fa-bell-o {
        float: left;
    }

    .nav-massage .massage-badge {
        right: -5px;
    }

    .nav-notification .notification-badge {
        right: -4px;
    }

}


